@import "../passive_sass/fonts_colors", "../passive_sass/margins", "../passive_sass/mixins", "../passive_sass/underline_animation", "../passive_sass/up-navigator", "../passive_sass/burger_menu", "../passive_sass/burger-menu-mobile", "preloader"

html body
  margin: 0
  padding: 0

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, span, p
  margin-top: 0
  margin-bottom: 0

html
  scroll-behavior: smooth

body
  background-color: $main_white

.blur-wrapper
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  background-color: #000
  opacity: 1
  z-index: 3

.age-verification-banner
  position: fixed
  left: 29%
  top: 29%
  width: 40%
  display: flex
  flex-direction: column
  background-color: white
  border-radius: 15px
  border: 3px solid #000000
  z-index: 4
  &__title-container
    margin-top: 5%
    width: 100%
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    &__title
      padding-top: 1.5%
      font-size: 4vw
      font-family: bebas
  &__logo-container
    display: flex
    width: 100%
    flex-direction: row
    align-items: center
    justify-content: center
    &__image
      width: 30%
      height: auto
  &__button-container
    display: flex
    width: 100%
    flex-direction: row
    justify-content: space-around
    margin: 5% 0
    &__button-text
      padding-top: 1.33%
      font-size: 4vw
      font-family: bebas
    &__button
      display: flex
      flex-direction: row
      align-items: center
      justify-content: center
      width: 40%
      background-color: #FFFFFF
      border: 3px solid #000000
      transition: all 0.7s ease-in-out


.age-verification-banner__button-container__button:hover
  cursor: pointer
  border-radius: 0 30px 0 30px

.full-width-container
  width: 100%
  display: flex
  justify-content: center
  &__black
    width: 100%
    background-color: black
    display: flex
    justify-content: center

.sized-layout-container
  width: 90%
  &__max-restricted
    width: 90%
    max-width: 1400px

.logo-and-name-holder
  grid-column: 1 / 1
  display: flex
  flex-direction: row
  &__img
    width: 30%
    height: auto

.menu-buttons-holder
  &__production
    grid-column: 4 / 4
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
  &__principles
    grid-column: 6 / 6
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
  &__contacts
    grid-column: 8 / 8
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.picture-poster-grid
  display: grid
  grid-template-columns: repeat(9, 1fr)
  grid-template-rows: repeat(4, 1fr)
  width: 100%

.full-size-image
  @include full-width-image
  transition: all 1s ease-in-out

.poster-holder-container__left > .full-size-image
  @include full-width-image
  transition: all 1s ease-in-out
  border-radius: 15px

.poster-holder-container__right > .full-size-image
  @include full-width-image
  transition: all 1s ease-in-out
  border-radius: 15px

.full-size-image-slide
  @include full-width-image
  transition: all 1s ease-in-out
  border-radius: 0 30px 30px 0



.menu-size-image
  width: 30%
  height: auto
  transition: all 1s ease-in-out

.poster-text-image
  @include poster-resized-image
  transition: all 1s ease-in-out

.poster-holder-container
  &__right
    display: flex
    grid-column: 6 / 10
    grid-row: 1 / 5
  &__left
    display: flex
    grid-column: 1 / 5
    grid-row: 1 / 5

.angled-text-holder-grid
  &__left
    display: flex
    flex-direction: column
    align-items: flex-end
    justify-content: flex-end
    grid-column: 1 / 6
    grid-row: 1 / 5
  &__right
    grid-column: 5 / 10
    grid-row: 1 / 5

.text-poster-type
  &__new
    @include poster-text
    font-size: 15vw
  &__exp
    @include poster-text
    font-size: 25vw
  &__in
    @include poster-text
    font-size: 13vw
  &__your
    @include poster-text
    font-size: 13vw
  &__style
    @include poster-text
    font-size: 20vw

.announce-section-grid
  display: grid
  grid-template-columns: repeat(9, 1fr)
  grid-template-rows: repeat(1, 1fr)
  width: 100%

.text-announce-type
  grid-column: 1 / 5
  font-size: 10vw
  @include section-text

.products-grid-layout
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-template-rows: repeat(auto-fill, 1fr)
  gap: 0.33em

.single-product-grid-layout
  padding: 2% 0
  display: grid
  grid-template-columns: repeat(26, 1fr)
  grid-template-rows: repeat(3, 1fr)
  border: 1px solid $main_black
  transition: all .4s ease-in-out
  &:hover
    & .full-size-image
      transform: scale(1.1)
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95)
  &__blacked-out
    padding: 2% 0
    display: flex
    flex-direction: column
    align-items: center
    background-color: $main_black
    border: 1px solid $main_black
    transition: all .4s ease-in-out
    &__container
      margin-top: 3%
      width: 80%
      display: flex
      flex-direction: column
      justify-content: flex-start
      &__additional_info_container
        width: 100%
        display: flex
        flex-direction: column
        justify-content: flex-start
        margin-top: 6%
      &__title
        font-size: 2.7vw
        font-family: bebas
        color: $main_white
      &__additional_info
        font-size: 1.8vw
        font-family: comfortaa-regular
        color: $main_white

  &__presentation
    display: flex
    grid-column: 3 / 9
    grid-row: 1 / 4
    transition: all .3s ease-in-out
  &__colored-naming
    display: flex
    align-items: center
    grid-column: 10 / 20
    transition: all .3s ease-in-out
  &__num-brackets
    display: flex
    align-items: center
    grid-column: 24 / 25
    transition: all .3s ease-in-out
  &__vert-align
    display: flex
    grid-column: 10 / 26
    grid-row: 2 / 5
    flex-direction: column
    align-items: flex-start
    transition: all .3s ease-in-out

.coming-soon-text
  @include disable-marking
  line-height: 0.8
  font-family: bebas
  color: $text_inactive
  font-size: 5vw
  transition: .5s ease-in-out
  &:hover
    color: $main_white


.ugo-naming
  &__yellow
    color: $ugo_yellow_name
    @include ugo-colored-naming
  &__green
    color: $ugo_green_name
    @include ugo-colored-naming
  &__black
    color: $ugo_black_name
    @include ugo-colored-naming
  &__pink
    color: $ugo_pink_name
    @include ugo-colored-naming
  &__blue
    color: $ugo_blue_name
    @include ugo-colored-naming
  &__red
    color: $ugo_red_name
    @include ugo-colored-naming
  &__violet
    color: $ugo_violet_name
    @include ugo-colored-naming


.decorative-brackets
  &__inactive
    color: $main_black
    font-size: 2.7vw
    font-family: bebas

.description-row
  &__inactive
    color: $main_black
    font-size: 1.7vw
    font-family: comfortaa-regular // If don't like change to Anonymous Pro
    margin-top: 5%

.principles-grid-layout
  display: grid
  width: 100%
  grid-template-columns: repeat(30, 1fr)
  grid-template-rows: repeat(auto-fill, 1fr)
  &__image-holder
    display: flex
    grid-column: 1 / 20
  &__text-holder
    display: flex
    flex-direction: column
    grid-column: 21 / 31
    align-items: flex-start

.card-holder
  &__main-title
    @include disable-marking
    display: flex
    color: $main_black
    font-size: 6vw
    font-family: bebas
  &__comments
    @include disable-marking
    display: flex
    color: $main_black
    font-size: 2vw
    line-height: 0.95
    font-family: ubuntu

.contacts-double-separated-grid
  display: grid
  width: 100%
  grid-template-columns: repeat(30, 1fr)
  grid-template-rows: repeat(auto-fill, 1fr)

.right-green-reach-me-field-grid
  background-color: #177b96
  width: 100%
  border-radius: 30px 0 0 30px
  grid-column: 22 / 31
  grid-row: 1 / 4
  display: grid
  grid-template-columns: repeat(25, 1fr)
  grid-template-rows: repeat(auto-fill, 1fr)
  &__container
    margin: 10% 0
    grid-column: 3 / 25
    grid-row: 2 / 12
    display: flex
    flex-direction: column
    align-items: center
    &__header
      font-family: bebas
      font-size: 4.3vw
      color: #FFFFFF
      line-height: 1.2
    &__image
      width: 50%
      height: auto
      border-radius: 15px 15px 15px 15px
    &__llc-title
      font-family: comfortaa-regular
      color: #FFFFFF
      font-size: 1.4vw
      margin-top: 10%
    &__mail-to
      color: #FFFFFF
      font-family: comfortaa-light
      text-decoration: none
      font-size: 1.3vw



.left-green-reach-me-field-grid
  background-color: $contacts-background
  width: 100%
  border-radius: 0 30px 30px 0
  display: grid
  grid-column: 1 / 20
  grid-row: 1 / 6
  grid-template-columns: repeat(25, 1fr)
  grid-template-rows: repeat(auto-fill, 1fr)
  &__flex-vert
    margin: 5% 0
    grid-column: 3 / 25
    grid-row: 2 / 12
    display: flex
    flex-direction: column
    align-items: flex-start
  &__flex-vert-overlay
    margin: 2% -2%
    border-radius: 20px
    grid-column: 3 / 25
    grid-row: 2 / 12
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background-color: rgba(0, 0, 0, 0.75)

.notification_vertical_content
  display: grid
  width: 100%
  grid-template-columns: repeat(5, 1fr)
  grid-template-rows: repeat(auto-fill, 1fr)
  &__main
    font-family: bebas
    grid-column: 1 / 3
    grid-row: 4 / 4
    font-size: 4vw
    color: $main_white
    padding-left: 10%
  &__additional
    font-family: comfortaa-regular
    grid-column: 1 / 6
    grid-row: 5 / 5
    font-size: 3vw
    color: $main_white
    padding-left: 4%
  &__img
    grid-row: 3 / 3
    grid-column: 3 / 4
    width: 100%
    height: auto


.contacts
  &__big-title
    font-family: bebas
    font-size: 4.3vw
    color: $main_black
    line-height: 1.2
  &__under-title
    font-family: comfortaa-regular
    font-size: 1.8vw
    color: $main_black
    margin: 2% 0
  &__submit-text
    padding-top: 1%
    font-family: bebas
    font-size: 1.5vw
    color: $main_white

.max-width
  width: 100%

.label-input-styler
  font-family: comfortaa-light
  color: black
  font-size: 1.3vw
  &__user-agreement
    font-family: comfortaa-light
    color: black
    font-size: 1.3vw
    margin-top: 1.5%

::placeholder
  color: black
  opacity: 1

.text-input-styler
  background-color: #FFFFFF
  width: 100%
  padding: 5px 5px
  margin-top: 0.3%
  box-sizing: border-box
  border: 3px solid #FFFFFF
  -webkit-transition: 0.5s
  transition: 0.5s
  outline: none
  resize: none
  margin-bottom: 2%

.text-input-styler:focus
  border: 3px solid #000
  background-color: $contacts-background

.submit-request-button
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  padding: 1.1% 0
  background-color: #101727
  border-radius: 10px
  border: none
  transition: 0.5s

.submit-request-button:hover
  border-radius: 40px

.footer-content-grid
  display: grid
  width: 100%
  background-color: $main_black
  grid-template-columns: repeat(30, 1fr)
  grid-template-rows: repeat(10, 1fr)

.footer-grid-logo-holder
  width: 70%
  grid-column: 1 / 4
  grid-row: 2 / 2

.contact-content-holder
  display: flex
  justify-content: flex-start
  align-items: flex-end
  grid-column: 1 / 20
  grid-row: 3 / 4
  &__text
    color: $main_white
    font-size: 5vw
    @include footer-big-text
    margin-bottom: 0

.go-top-href-holder
  display: flex
  justify-content: flex-end
  align-items: flex-end
  grid-column: 21 / 31
  grid-row: 3 / 4
  &__text
    color: $text_inactive
    text-decoration: none
    font-size: 5vw
    transition: 0.5s
    @include footer-big-text
  &__text:hover
    color: $main_white

.additional-info-text-holder
  display: flex
  justify-content: space-between
  align-items: center
  grid-column: 1 / 31
  grid-row: 4 / 5
  &__text
    color: $text_inactive
    font-family: bluecurve-regular
    font-size: 3vw

.logo-link-holder
  display: flex
  flex-direction: row
  align-items: center
  &__img
    width: 50%
    height: auto
    filter: brightness(0) saturate(100%) invert(55%) sepia(6%) saturate(19%) hue-rotate(339deg) brightness(100%) contrast(85%)
    transition: 0.5s ease-in-out
  &__a
    color: $text_inactive
    font-size: 4vw
    font-family: bluecurve-regular
    text-decoration: none
    filter: brightness(0) saturate(100%) invert(55%) sepia(6%) saturate(19%) hue-rotate(339deg) brightness(100%) contrast(85%)
    transition: 0.5s ease-in-out
  &__a-additional
    color: $text_inactive
    font-size: 4vw
    font-family: bluecurve-regular
    text-decoration: none
    filter: brightness(0) saturate(100%) invert(55%) sepia(6%) saturate(19%) hue-rotate(339deg) brightness(100%) contrast(85%)
    transition: 0.5s ease-in-out
  &__text
    color: $text_inactive
    font-family: bluecurve-regular
    font-size: 3vw
    margin-bottom: 0


.legal-content-holder-vertical-layout
  display: flex
  flex-direction: column
  align-items: flex-start
  grid-column: 1 / 31
  grid-row: 5 / auto-fill
  &__title
    color: $main_white
    font-size: 5vw
    @include footer-big-text
  &__shadowed
    color: $text_inactive
    font-family: bluecurve-regular
    font-size: 2vw
  &__shadowed-big
    color: $text_inactive
    font-family: bluecurve-regular
    font-size: 4vw
    transition: 0.5s ease-in-out
  &__minors
    color: $main_white
    font-size: 5vw
    @include footer-big-text

@media (min-width: 2400px)
  .interactive-link
    font-size: 25px
  .contact-content-holder__text
    font-size: 80px
  .go-top-href-holder__text
    font-size: 80px
  .logo-link-holder__a
    font-size: 80px
  .logo-link-holder__a-additional
    font-size: 60px
  .legal-content-holder-vertical-layout__title
    font-size: 80px
  .legal-content-holder-vertical-layout__shadowed-big
    font-size: 80px
  .legal-content-holder-vertical-layout__shadowed
    font-size: 40px
  .legal-content-holder-vertical-layout__minors
    font-size: 80px

@media (max-width: 999px)
  .poster-holder-container__left > .full-size-image
    border-radius: 10px

  .poster-holder-container__right > .full-size-image
    border-radius: 10px

@media (max-width: 499px)
  .poster-holder-container__left > .full-size-image
    border-radius: 6px

  .poster-holder-container__right > .full-size-image
    border-radius: 6px

@media (max-width: 750px)
  .age-verification-banner__button-container__button:hover
    cursor: pointer
    border-radius: 0 15px 0 15px
  .card-holder // Change text size next slides
    &__main-title
      font-size: 6vw
    &__comments
      font-size: 2.5vw
  .logo-and-name-holder
    &__img
      width: 70% // stock 30%
      height: auto
  .menu-size-image
    width: 65% // stock 30%
    height: auto
    cursor: pointer
  .logo-link-holder
    &__img
      width: 15% // Correct fixing for telegram icon
  #top-page-mobile
    display: flex
  #top-page
    display: none
  .single-product-grid-layout__blacked-out__container__title
    font-size: 6vw
  .single-product-grid-layout__blacked-out__container__additional_info
    font-size: 4.3vw
  .products-grid-layout
    grid-template-columns: repeat(1, 1fr)
  .ugo-naming
    &__yellow
      @include ugo-colored-naming-mobile
    &__green
      @include ugo-colored-naming-mobile
    &__black
      @include ugo-colored-naming-mobile
    &__pink
      @include ugo-colored-naming-mobile
    &__blue
      @include ugo-colored-naming-mobile
    &__red
      @include ugo-colored-naming-mobile
    &__violet
      @include ugo-colored-naming-mobile
  .decorative-brackets
    &__inactive
      font-size: 5vw
  .description-row
    &__inactive
      font-size: 3vw
  .left-green-reach-me-field-grid
    grid-column: 1 / 30
  .right-green-reach-me-field-grid
    visibility: hidden
  .contacts
    &__big-title
      font-family: bebas
      font-size: 6vw
      color: $main_black
      line-height: 1.2
    &__under-title
      font-family: bluecurve-light
      font-size: 3vw
      color: $main_black
    &__submit-text
      font-family: bebas
      font-size: 3.2vw
      color: $main_white
  .label-input-styler
    font-size: 3vw
    &__user-agreement
      font-size: 2.5vw
  .legal-content-holder-vertical-layout
    &__title
      margin-bottom: 1%
    &__shadowed
      margin-bottom: 0
    &__minors
      margin-bottom: 1%
  .notification_vertical_content
    &__main
      font-size: 6vw
    &__additional
      font-size: 5vw

@media (min-width: 750px)
  #top-page-mobile
    display: none
  #top-page
    display: flex
