@import "../passive_sass/fonts_colors", "../passive_sass/margins", "../passive_sass/mixins", "../passive_sass/underline_animation"

html body
  margin: 0
  padding: 0

html
  scroll-behavior: smooth

body
  background-color: $main_white

.full-width-container
  width: 100%
  display: flex
  justify-content: center
  &__black
    width: 100%
    background-color: black
    display: flex
    justify-content: center

.sized-layout-container
  width: 90%

.main-menu-grid-container
  margin-top: 1.5%
  display: grid
  grid-template-columns: repeat(8, 1fr)
  grid-template-rows: 1fr
  width: 100%

.logo-and-name-holder
  grid-column: 1 / 1
  display: flex
  flex-direction: row
  &__img
    width: 30%
    height: auto

.menu-buttons-holder
  &__production
    grid-column: 4 / 4
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
  &__principles
    grid-column: 6 / 6
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
  &__contacts
    grid-column: 8 / 8
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.picture-poster-grid
  display: grid
  grid-template-columns: repeat(9, 1fr)
  grid-template-rows: repeat(4, 1fr)
  width: 100%

.full-size-image
  @include full-width-image

.poster-holder-container
  &__right
    display: flex
    grid-column: 6 / 10
    grid-row: 1 / 5
  &__left
    display: flex
    grid-column: 1 / 5
    grid-row: 1 / 5

.angled-text-holder-grid
  &__left
    display: flex
    flex-direction: column
    align-items: flex-end
    justify-content: flex-end
    grid-column: 1 / 6
    grid-row: 1 / 5
  &__right
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: flex-end
    grid-column: 5 / 10
    grid-row: 1 / 5

.text-poster-type
  &__new
    @include poster-text
    font-size: 15vw
  &__exp
    @include poster-text
    font-size: 25vw
  &__in
    @include poster-text
    font-size: 13vw
  &__your
    @include poster-text
    font-size: 13vw
  &__style
    @include poster-text
    font-size: 20vw

.announce-section-grid
  display: grid
  grid-template-columns: repeat(9, 1fr)
  grid-template-rows: repeat(1, 1fr)
  width: 100%

.text-announce-type
  grid-column: 1 / 5
  font-size: 10vw
  @include section-text

.products-grid-layout
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-template-rows: repeat(auto-fill, 1fr)
  gap: 0.33em

.single-product-grid-layout
  padding: 2% 0
  display: grid
  grid-template-columns: repeat(26, 1fr)
  grid-template-rows: repeat(3, 1fr)
  border: 1px solid $main_black
  transition: all .3s ease-in-out
  &__presentation
    display: flex
    grid-column: 4 / 9
    grid-row: 1 / 4
    transition: all .3s ease-in-out
  &__colored-naming
    display: flex
    align-items: center
    grid-column: 10 / 20
    transition: all .3s ease-in-out
  &__num-brackets
    display: flex
    align-items: center
    grid-column: 24 / 25
    transition: all .3s ease-in-out
  &__vert-align
    display: flex
    grid-column: 10 / 26
    grid-row: 2 / 5
    flex-direction: column
    align-items: flex-start
    transition: all .3s ease-in-out

.ugo-naming
  &__yellow
    color: $ugo_yellow_name
    @include ugo-colored-naming
  &__green
    color: $ugo_green_name
    @include ugo-colored-naming
  &__black
    color: $ugo_black_name
    @include ugo-colored-naming
  &__pink
    color: $ugo_pink_name
    @include ugo-colored-naming
  &__blue
    color: $ugo_blue_name
    @include ugo-colored-naming
  &__red
    color: $ugo_red_name
    @include ugo-colored-naming
  &__violet
    color: $ugo_violet_name
    @include ugo-colored-naming


.decorative-brackets
  &__inactive
    color: $main_black
    font-size: 2.7vw
    font-family: bebas

.description-row
  &__inactive
    color: $main_black
    font-size: 1.55vw
    font-family: anonymous

.principles-grid-layout
  display: grid
  width: 100%
  grid-template-columns: repeat(30, 1fr)
  grid-template-rows: repeat(auto-fill, 1fr)
  &__image-holder
    display: flex
    grid-column: 1 / 20
  &__text-holder
    display: flex
    flex-direction: column
    grid-column: 21 / 31
    align-items: flex-start

.card-holder
  &__main-title
    @include disable-marking
    display: flex
    color: $main_black
    font-size: 7vw
    font-family: bebas
  &__comments
    @include disable-marking
    display: flex
    color: $main_black
    font-size: 2vw
    font-family: anonymous