@import "../passive_sass/fonts_colors", "preloader"

#top-page-mobile
  padding: 0.5rem 0

.full-width-container__black-formatted
  display: flex
  justify-content: center
  width: 100%
  background-color: black

.main-menu-grid-container-formatted
  display: grid
  grid-template-columns: repeat(8, 1fr)
  grid-template-rows: 1fr
  width: 100%

.sized-layout-container-flex-vert
  display: flex
  width: 90%
  flex-direction: column
  align-items: flex-start
  margin-top: 3%

.sized-layout-container-flex-centered
  display: flex
  width: 90%
  flex-direction: column
  align-items: center
  margin-top: 5%
  margin-bottom: 5%

.user-agreement-text
  &__header
    font-size: 4vw
    font-family: bebas
    color: black
  &__paragraph
    font-size: 3vw
    font-family: bebas
    color: black
  &__information
    font-size: 1.6vw
    font-family: ubuntu
  &__bold-styled
    font-family: ubuntu-bold
    font-size: 1.6vw

.user-agreement-additional-layout
  display: flex
  flex-direction: column
  align-items: flex-start
  margin-top: 2%
  &:last-child
    margin-bottom: 2%



.return-to-main-button
  cursor: pointer
  display: flex
  justify-content: center
  align-items: center
  width: 45%
  padding: 1.1% 0
  background-color: #101727
  border-radius: 10px
  border: none
  transition: 0.5s
  &__inner-text
    padding-top: 2%
    font-family: bebas
    font-size: 3.2vw
    color: $main_white

.return-to-main-button:hover
  border-radius: 40px


@media (max-width: 750px)
  .sized-layout-container-flex-vert
    margin-top: 6%
  .user-agreement-text
    &__header
      font-size: 4.8vw
      font-family: bebas
      color: black
    &__paragraph
      font-size: 3.6vw
      font-family: bebas
      color: black
    &__information
      font-size: 1.92vw
      font-family: ubuntu
    &__bold-styled
      font-family: ubuntu-bold
      font-size: 1.92vw