.mobile-menu-grid-container
  grid-template-columns: repeat(1, 1fr)
  grid-template-rows: repeat(auto-fill, 1fr)

.logo-button-holder-container
  @include crossed-traits-menu

.box-burger-mobile-container
  display: flex
  flex-direction: column
  align-items: flex-end
  justify-content: center
  grid-column: 8 / 8
  &__segments
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 45%
    height: 100%

.main-menu-grid-container
  @include crossed-traits-menu
  grid-template-rows: 1fr

.burger-white-row:first-child
  border-radius: 5px
  border: 2px solid #FFFFFF
  width: 100%
  height: 40%

.burger-white-row
  border-radius: 5px
  border: 2px solid #FFFFFF
  width: 100%
  height: 40%
  margin-top: 5%