$main_white : #FFFFFF
$main_black : #000000

@font-face
  font-family: 'typewriter'
  font-weight: normal
  src: url("../../assets/fonts/AmericanTypewriter-01.ttf")

@font-face
  font-family: 'bebas'
  src: url("../../assets/fonts/BebasNeue-Bold.otf")

@font-face
  font-family: 'phosphate'
  src: url("../../assets/fonts/Phosphate-Solid-02.ttf")