$main_white : #FFFFFF
$main_black : #000000
$text_analogue : #D6B395

@font-face
  font-family: 'helvetica-main'
  src: url("../../assets/fonts/helvetica_regular.otf")

@font-face
  font-family: 'bebas-neue'
  src: url("../../assets/fonts/BebasNeue-Bold.otf")