@import "fonts_colors"

@mixin poster-text
  font-family: 'bebas'
  line-height: 0.8
  user-select: none
  color: $main_black

@mixin section-text
  font-family: neopixel
  color: $main_black
  user-select: none

@mixin full-width-image
  width: 100%
  height: auto

@mixin ugo-colored-naming
  font-size: 2.7vw
  font-family: bebas

@mixin ugo-colored-naming-mobile
  font-size: 4vw
  font-family: bebas

@mixin disable-marking
  user-select: none

@mixin footer-big-text
  font-family: bebas
  line-height: 0.9
