@font-face {
    font-family: bebas;
    src: url("../assets/fonts/BebasNeue-Bold.otf");
}

@font-face {
    font-family: bluecurve-light;
    src: url("../assets/fonts/Bluecurve-Light.ttf");
}

:root {
    --card-height: 40vw;
    --card-margin: 4vw;
    --card-top-offset: 1em;
    --numcards: 4;
    --outline-width: 0px;
}
ul {
    padding: 0 !important;
    margin: 0 !important;
}

#cards {
    padding-bottom: calc(var(--numcards) * var(--card-top-offset)); /* Make place at bottom, as items will slide to that position*/
    margin-bottom: var(--card-margin); /* Don't include the --card-margin in padding, as that will affect the scroll-timeline*/
    border-radius: 0 !important;
}

#card_1 {
    --index: 1;
}

#card_2 {
    --index: 2;
}

#card_3 {
    --index: 3;
}

#card_4 {
    --index: 4;
}

.card {
    position: sticky !important;
    top: 0;
    border-top: 1px solid black !important;
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
    /*padding-top: calc(var(--index) * var(--card-top-offset));*/
}

.card:last-child {
    position: sticky !important;
    top: 0;
    border-bottom: 1px solid black !important;
}

.card__grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 30em;
}

.card__text-section {
    grid-column: 2 / 10;
    grid-row: 2 / 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.card__brackets-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-column: 13 / 15;
    grid-row: 2 / 3;
}

.card__text-align {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.card__text-section__h4 {
    font-family: bebas;
    font-size: 5vw;
    color: black;
}

.card__text-section__p {
    font-family: bluecurve-light;
    font-size: 3vw;
    color: black;
}

.card__colored-section {
    grid-column: 12 / 16;
    grid-row: 1 / 11;
    background-color: #FFFF00;
}

.card__colored-section-blue {
    grid-column: 12 / 16;
    grid-row: 1 / 11;
    background-color: #4169E1;
}

.card__colored-section-green {
    grid-column: 12 / 16;
    grid-row: 1 / 11;
    background-color: #40A260;
}

.card__colored-section-black {
    grid-column: 12 / 16;
    grid-row: 1 / 11;
    background-color: #E1C16E;
}

@media (min-width: 100px) {
    .card__grid {
        height: 5em;
    }
}

@media (min-width: 300px) {
    .card__grid {
        height: 10em;
    }
}

@media (min-width: 500px) {
    .card__grid {
        height: 15em;
    }
}

@media (min-width: 700px) {
    .card__grid {
        height: 20em;
    }
}

@media (min-width: 900px) {
    .card__grid {
        height: 25em;
    }
}

@media (min-width: 1100px) {
    .card__grid {
        height: 30em;
    }
}

@media (min-width: 1500px) {
    .card__grid {
        height: 35em;
    }
}

@media (min-width: 1700px) {
    .card__grid {
        height: 40em;
    }
}

@media (min-width: 1900px) {
    .card__grid {
        height: 45em;
    }
}

@media (min-width: 2100px) {
    .card__grid {
        height: 50em;
    }
}

@media (min-width: 2300px) {
    .card__grid {
        height: 55em;
    }
}

@media (min-width: 2500px) {
    .card__grid {
        height: 60em;
    }
    .card__text-section__h4 {
        font-size: 125px;
    }
    .card__text-section__p {
        font-size: 75px;
    }
}
